/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif; 
  color: #dedddd;
  
} 

/* Login Container Styles */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Updated box-shadow for glow effect */
}

.login-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Text glowing effect */
}

.login-form .form-group input {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
}

.btn {
  background-color: #0d00ff;
  color: #333;
  box-shadow: 0 0 20px rgba(102, 0, 255, 0.8); /* Button glowing effect */
  transition: box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #3d00f3;
  box-shadow: 0 0 20px rgb(0, 8, 243); /* Adjusted glowing effect on hover */
}

.error-message {
  color: red;
}


