/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgba(0, 0, 70, 1) 0%, rgba(0, 0, 40, 1) 100%);
  color: #fff;
}

/* Register Page Styles */
.register-container {
  max-width: 500px;
  margin: 50px auto; /* Ensure container doesn't touch the top navbar */
  background: linear-gradient(135deg, #71afed, #02216f); /* Gradient background color */
  padding: 2rem;
  border-radius: 20px; /* Increased border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.register-form .form-group {
  margin-bottom: 1.5rem;
}

.register-form .form-group input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px; /* Increased border radius */
  background-color: rgba(255, 255, 255, 0.9); /* Lighter background color */
  color: #333; /* Dark text color */
}

.btn {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 12px; /* Increased border radius */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
